.muro{
    display:grid;
    grid-template-columns: auto auto auto;
  grid-gap: 10px;
  align-items: center;
  padding: calc(var(--longitud)*0.5);
  grid-gap: calc(var(--longitud)*0.5);
  margin: 10px;
  gap: 20px;

}

.fotos{
    border: 3px solid;
    width: 300px;
    height: 300px;
    align-items: center;

}
img{
    width: 100%;
}

.botones{
    position: center;
    background-image: ;
    height: 100px;
}