body {
  color: rgba(4, 128, 236, 0.656);
  background-color: rgb(209, 228, 242);
}
h1{
  font-style: italic;
  text-align: center;
  color: green;
  background-color: rgb(0, 153, 255);
}
nav{
  text-align: center;
  color:rgb(26, 102, 209);
  background-color: aliceblue;
}
h2{
  text-align: center;
  color: green;
  background-color: aqua;
  backface-visibility: inherit;
}
p{
  color: darkgreen;
}
ul{
  color: rgb(255, 157, 0);
}

body > * {
  text-transform: uppercase;
}
#cabecera {
  background-color: rgba(255, 255, 255, 0.929);
}

.error {
  color: red!important;
}

.cursiva, td {
  font-style: italic;
  color: rgb(0, 34, 255);
}
  div {
    width: 160px;
    height: 55px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    50%  { left: 708px; top:0px;}
    100% { left:0px; top:0px;}
  }




.lista-open {
  list-style: circle;
}

form input[type=text] {
  color: red;
}
input[required] {
  border-color: green;
}


@media print {
  input[type=submit], input[type=resset],input[type=button], button {
      display: none;
  }

  form input[type=text] {
      border-style: none;
  }

}