.calculadora{
    width: 60%;
    height: 100%;
    border: 3px rgb(255, 0, 0) ridge; max-width: 80%;  text-align: center;
    position: inherit;
    margin-left: 20%;
    background-color: black;
}
header{
    background-color: red;
    width: 100%;
    height: 100%;text-align: center;
    position: center;
    margin-top: 0px;
}

#textoPantalla{
    width: 50%; float:center ;border: 4px rgb(0, 0, 0) solid; text-align: center;
    position: center; padding:10px;
    color:rgb(0, 0, 0);
    margin-inline: auto;
    background-color: rgb(133, 195, 237); font-family: 'Gill Sans';
    overflow: hidden;
}

.calculadora[type=button]{
    width: 10px;
}

.calculadora input.largo{
    color: rgb(0, 0, 0);
    width: 100px;
    background-color: aliceblue;
}

.calculadora input.numeros{
    color: rgb(10, 55, 83);
    width: 120px;
    align-items: center;
    background-color: rgb(199, 199, 199);
}

.calculadora input.igualador{
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    background-color: rgb(150, 148, 148);
}

.calculadora input.operacion{
    color: rgb(255, 255, 255);
    width: 70px;
    background-color: rgb(215, 0, 0);
}