body {
    background-color: rgb(238, 165, 165);
    margin: 0px
}

img{
    float: right;
    width: 73%;
    height: 20%;
}
div {
    border: 2px solid #db1d00;
    padding: 0px;
  }


.icon-bar{
    clear: both;
    display: table
    width: 73%;
    height: 20%;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: red;
  font-size: 50%;
}
h1{
    font-size: large*3;
    margin: 0;
    flex-wrap: wrap;
    flex-flow: column-reverse;
    align-items:flex-end;
}
h2{
    font-size: larger*3;
    font-style: italic;
    color: aqua;
}

.icon-bar a:hover {
  background-color: rgb(11, 211, 229);
}

.active {
  background-color: #0fdf93;
}