button {
    border: 3px;
    background-color: rgb(80, 60, 209);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(43, 182, 184);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(243, 61, 29);
    border-radius: 50px;
  }
  
  .equals:hover {
    background-color: rgb(104, 228, 15);
  }
