.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #1f5f97fc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(0, 255, 132);
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 100px; 
}
