/* h1{
    text-align: center;
}

#tableroJuego{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.letra-caja{
    border: 2px solid black;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.caja-rellena{
    border: 2px solid black;
}

.letra-fila{
    display: flex;
}

#teclado-cont{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#teclado-cont div{
    display: flex;
}

.segunda-fila{
    margin: 0.5rem 0;
}

.teclado-boton {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  } */

  h1 {
    text-align: center;
    background-color: aquamarine;
   }
   
   #game-board {
     display: flex;
     align-items: center;
     flex-direction: column;
   }
   
   .letter-box {
     border: 2px solid gray;
     border-radius: 3px;
     margin: 2px;
     font-size: 2.5rem;
     font-weight: 700;
     height: 3rem;
     width: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
   }
   
   .filled-box {
     border: 2px solid black;
   }
   
   .letter-row {
     display: flex;
   }
   
   #keyboard-cont {
     margin: 1rem 0;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   #keyboard-cont div {
     display: flex;
   }
   
   .second-row {
     margin: 0.5rem 0;
   }
   
   .keyboard-button {
     font-size: 1rem;
     font-weight: 700;
     padding: 0.5rem;
     margin: 0 2px;
     cursor: pointer;
     text-transform: uppercase;
   }